@import "root";
@import "~bootstrap/scss/bootstrap";
@import "footer";
@import "navbar";

body {
    font-family: $font-family-rg !important;
    background-color: $primary;
    color: $light;
    display: block;
    margin: 0;
}

main {
    min-height: 80vh;
    margin-top: 2.5rem;
}

h1 {
    font-family: $font-family-bd;
    font-weight: bold;
}

h2 {
    font-family: $font-family-lt;
}

.bg-tertiary {
    background-color: $tertiary;
}

