@import "app.scss";



.cardHome {
    min-width: 20rem;
    height: 26rem;
}

#cardGrid {
    display: grid;
    grid-template-areas:
        "a b b"
        "c c c"
        "d f g"
        "e e e";
    grid-template-rows: 7rem 3rem 11rem 4rem;
    grid-template-columns: 1fr 1fr 5rem;
}

#cardCar {
    grid-area: a;
}

#cardLogo {
    grid-area: b;
}

#cardBrand {
    grid-area: c;
}

#cardEnergy {
    grid-area: d;
}

#cardButton {
    grid-area: e;
}

#cardGear {
    grid-area: f;
}

#cardSeat {
    grid-area: g;
}


#searchGrid {
    display: grid;
    grid-template-areas: "a b c d e f s h g";

    grid-template-rows: 1fr;
    grid-template-columns: 3rem 14rem 8rem 7rem 7rem 6rem 7rem 10rem 10rem;
}

#searchArrow {
    grid-area: a;
}

#searchDate {
    grid-area: b;
}

#searchBrand {
    grid-area: c;
}

#searchEnergy {
    grid-area: d;
}

#searchGear {
    grid-area: e;
}

#searchSeat {
    grid-area: f;
}

#searchButton {
    grid-area: g;
}

#searchClear {
    grid-area: h;
}

#searchShare {
    grid-area: s;
}

.iconSearch {
    height: 80px;
    width: 95px;
}


@media screen and (max-width: 1200px) {
    #searchGrid {
        display: grid;
        grid-template-areas: "a b c d e f s"
                             "h h h g g g g";

        grid-template-rows: 1fr 1fr;
        grid-template-columns: .5rem 1fr 1fr 1fr 1fr 1fr;
    }

    #searchArrow svg {
        display: none;
    }

    #searchDate {
        margin-inline: 1rem;
    }

    #searchBrand {
        align-self: end;
        margin-inline-end: .2rem;
    }
    #searchEnergy {
        align-self: end;
        margin-inline-end: .2rem;
    }
    #searchGear {
        align-self: end;
        margin-inline-end: .2rem;
    }
    #searchSeat {
        align-self: end;
    }

}




@media screen and (max-width: 768px) {
    #searchGrid {
        display: grid;
        grid-template-areas:
            "b"
            "c"
            "d"
            "e"
            "f"
            "s"
            "g"
            "h";

        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
    }

    #searchArrow {
        display: none;
    }

    #searchDate {
        align-self: center;
        justify-self: center;
        margin-inline: auto;
        margin-block-end: 2rem;
    }

    .iconSearch {
        height: 70px;
    }

    #searchButton {
        margin-block: 3rem;
    }

    #searchGear {
        margin-block-start: 1rem;
    }

    #searchSeat {
        margin-block-start: 1rem;
    }

    #searchShare {
        margin-block-start: 1rem;
    }
}