{% extends 'base.html.twig' %}

{% block title %}Edit Vehicle
{% endblock %}

{% block content %}
	<div class="container bg-light text-dark rounded p-3">
		<h1>Edit Vehicle</h1>
		<div class="d-flex flex-column">
			{{ include('vehicle/_form.html.twig', {'button_label': 'Update'}) }}

			<a class="btn bg-secondary my-3" href="{{ path('app_company_fleet', {'company': vehicle.company.id}) }}">Back to list</a>
		</div>
	</div>
{% endblock %}
