{% extends 'base.html.twig' %}

{% block title %}New Vehicle
{% endblock %}

{% block content %}
	<h1>Create new Vehicle</h1>

	{{ include('vehicle/_form.html.twig') }}

	<a href="{{ path('app_company_home', {'company': company.id}) }}">back to list</a>

{% endblock %}
