{% extends 'layoutUser.html.twig' %}

{% block title %}New Vehicle
{% endblock %}

{% block content %}
	<div class="container bg-light text-dark rounded">
	<h1>Create new Vehicle</h1>
	<div class="d-flex flex-column py-4 px-2">
	{{ include('vehicle/_form.html.twig') }}
	
	<a class="btn bg-secondary" href="{{ path('app_company_home', {'company': company.id}) }}">back to list</a>
	</div>
	</div>
{% endblock %}
