{% extends 'layoutUser.html.twig' %}

{% block title %}
	{{parent()}}| Your fleet
{% endblock %}

{% block content %}
	<div class="container">
		<h1 class="h1 text-center my-5">Your fleet</h1>

		<div class="bg-light text-dark rounded-3 p-2">

		</div>
	{% endblock %}
