{% extends './company/_templateStats.html.twig' %}
{% block graph %}
	<div class="p-2 bloc-funnel">
		<div class="d-flex justify-content-center gap-1 my-3">
			<a href="{{ path('app_company_statistic', {'company': company.id}) }}" class="btn bg-secondary">Available / Shared / Maintenance</a>
			<a href="{{ path('app_company_reserv_statistic', {'company': company.id}) }}" class="btn bg-secondary active">Reservations</a>
		</div>
	</div>

	<section>
		<div class="row mt-3">
			<div class="">
				<div class="d-flex flex-column justify-content-center align-items-center">
					<h2 class="">Number of reservations in function of the month</h2>
					{{ render_chart(chartReservation) }}
				</div>
			</div>
	</section>

{% endblock %}