{% extends './company/_templateStats.html.twig' %}
{% block graph %}
	<div class="p-2">
		<div class="d-flex justify-content-center gap-1 my-3">
			<a href="#" class="btn bg-secondary active">TO REPLACE</a>
			<a href="#" class="btn bg-secondary">TO REPLACE</a>
			<a href="#" class="btn bg-secondary">TO REPLACE</a>
		</div>
	</div>

	<section>

	</section>

{% endblock %}
