<footer class="bg-light p-O d-flex flex-column">
	<div class="bloc-link">
		<div class="d-flex justify-content-evenly">
			<a href="#">
				<img src="" alt="">
				ACS - Amazon Car Services
			</a>
			<a href="/">Home</a>
			<a href="#">Profil</a>
		</div>
	</div>
	<div class="text-center">
		<a href="#">
			Legal Notices
		</a>
	</div>
</footer>
