<footer class="footer contactFooter d-flex flex-wrap justify-content-between align-items-center bg-light text-dark py-1">
	<div class="container text-center">
		<a class="text-decoration-none" href="#">
			Legal Notices
		</a>
	</div>
</footer>
